@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact Page";
}
@model Contact
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Addicure</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/assets/logo.png" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<style>
    body {
        background-color: #E5F0FF;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0;
    }

</style>
<body id="page-top" style="background-color:#E5F0FF;">
    <!-- Contact Section-->
    <section class="page-section my-5" id="contact">
        <div class="container">
            <br />
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Us</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Form-->
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <form id="contactForm" asp-action="AddContact" asp-controller="Contact" method="post">
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea asp-for="Message" class="form-control" style="background-color:#E5F0FF;" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem"></textarea>
                            <label asp-for="Message">Message</label>
                        </div>
                        <!-- Submit Button and Go Back Button side by side -->
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-primary btn-xl" id="submitButton" type="submit" value="submit">Send</button>
                            <a class="btn btn-primary btn-xl" asp-area="" asp-controller="Contact" asp-action="Index">Go back</a>
                        </div>
                    </form>
                </div>
            </div>
            <br />
            <br />
        </div>
    </section>
   
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>

