@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Appointment Page";

    
}
@model Appointment;
@using ITELEC1C_Group8.Enums;
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Addicure</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="~/assets/logo.png" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="~/css/styleAppointment.css" rel="stylesheet" />
    </head>
    <body id="page-top"  >
        <!-- Masthead-->
        <header class="masthead" id="appointment" style="background-image: url('/assets/clinicbg.jpg'); background-size: cover;">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="~/assets/img/logo.png" alt="..."  />
                <!-- Masthead Heading-->
                <h1 style="color:#101F90;text-align:center;">BOOK YOUR APPOINTMENT</h1>
               <br>
               <div class="card" width="30">
                <!-- Start Card Body -->
                <div class="card-body" >
                <div asp-validation-summary="All" class="text-danger"></div>
                    @{
                        if (TempData["messages"] != null)
                        {
                            <div class="form-row">
                            <div>
                                    <h1 style="color:#101F90;text-align:center;">
                                @TempData["messages"]
                                </h1>
                            </div>
                            </div>
                        }
                    }
                  <!-- Start Form -->
                  <form asp-action="AddApp" asp-controller="Appointment" method="post" id="bookingForm" class="needs-validation"  autocomplete="off">
                        <div class="form-row">
                            <div class="form-group">
                                <label asp-for="SelectedBranch">Clinic Branch</label>
                                <div class="d-flex flex-row justify-content-between align-items-center">
                                    <select asp-for="SelectedBranch" asp-items="@Html.GetEnumSelectList(typeof(Branch))" placeholder="Select Branch" class="form-control mr-1" id="branch" name="branch" required>
                                        <option value="">Select Clinic Branch</option>
                                    </select>
                                </div>

                            <div class="form-group">
                                <label asp-for="SelectedDoctor">Medical Doctor</label>
                                <div class="d-flex flex-row justify-content-between align-items-center">
                                    <select asp-for="SelectedDoctor" placeholder="Select Doctor" class="form-control mr-1" id="doctor" name="doctor" required>
                                        <option value="">Select Doctor</option>
                                    </select>
                                </div>
                            </div>

                            @section scripts {
                                <script>
                                    // Use jQuery to handle the change event of the branch dropdown
                                    $("#branch").change(function () {
                                        var selectedBranch = $(this).val();

                                        // Make an AJAX request to the server to get doctors based on the selected branch
                                        $.ajax({
                                            url: '/Appointment/GetDoctorsByBranch',
                                            type: 'GET',
                                            data: { selectedBranch: selectedBranch },
                                            success: function (data) {
                                                // Populate the doctors dropdown with the received data
                                                var doctorsDropdown = $("#doctor");
                                                doctorsDropdown.empty();
                                                doctorsDropdown.append($('<option>').text('Select Doctor').attr('value', ''));
                                                $.each(data, function (index, item) {
                                                    doctorsDropdown.append($('<option>').text(item.text).attr('value', item.value));
                                                });
                                            },
                                            error: function (error) {
                                                console.log(error);
                                            }
                                        });
                                    });
                                </script>
                            }
                    </div>
                <br>
    
             
                 
                    <!-- Start Input Date , Start Time and End Time -->
                    <div class="form-row">
                      <!-- Start Input Date -->
                      <div class="form-group col-md-4">
                        <label asp-for="AppDate">Date</label>
                                        <input asp-for="AppDate" type="date" style="width:100%;" class="form-control" id="inputDate" required />
                        <small class="form-text text-muted">Please choose date for your appointment.</small>
                      </div>
                      <!-- End Input Date -->
            
                      <!-- End Input Start Time -->
        
                    </div>
                    <!-- End Input Date , Start Time and End Time -->
                    </div>
                    <br>
                    <!-- Start Age -->
                    <div class="form-row">
                      <label asp-for="Age">Age</label>
                      <div class="row px-1">
                                    <input asp-for="Age" type="number" class="form-control" id="age" name="age" min="0" max="99" placeholder="Enter your Age" />
                         
                        </div>
                      </div>
          
                    <!-- End Age -->
                   <br>
                    <!-- Start Input Remark -->
                    <div class="form-group" >
                      <label asp-for="Notes">Notes</label>
                            <textarea asp-for="Notes" type="text" class="form-control" id="textAreaRemark" name="notes" placeholder="Leave some notes" ></textarea>
                    </div>
            
                    <!-- End Input Remark -->
            <br>
                    <!-- Start Submit Button -->
                    <input class="btn btn-primary" type="submit" value="Submit">
                    <!-- End Submit Button -->
                  </form>
                  <!-- End Form -->
                </div>
                <!-- End Card Body -->
              </div>
              <!-- End Card -->
              </div>
        </header>
        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <p class="lead mb-0">
                            2215 John Daniel Drive
                            <br />
                            Clark, MO 65243
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">ADDICURE</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">About the Clinic</h4>
                        <p class="lead mb-0">
                            ADDICURE is a clinic that helps you with your specific medical needs. We provide cutting-edge services for medications and facilities for your wellness.
                            
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
